body {
    background: #263343;
    text-align: center;
    color: #ffffff;
    font-family: 'Arial', sans-serif;
}

h1 {  
    background-color: #314C53;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    font-size: 5.5rem;
    padding: .2em .4em;
    margin-top: 100px;
    margin-bottom: 0px;
}

h2 {
    margin-top: 0px;
    font-size: 1.6em;
    background-color: #314C53;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    padding: .5rem;
    margin-bottom: 0px;
}

h3{
    font-size: 1em;
    background-color: #314C53;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    margin-top: 0px;
    padding: .5rem;
}

p{
   background-color: #314C53;
   margin-top: 0px;
   margin-bottom: 0px;
   padding: 0.1rem;
  
}

ul{
  background-color: #314C53;
   margin-top: 0px;
   margin-bottom: 0px;
}

a{
  color: white;
}

footer {
    background-color: none;
<<<<<<< Extras
    margin-top: 500px;
=======
    margin-top: 600px;
>>>>>>> main
    margin-bottom: 0px;
    font-size: 0.9em;
    color: #b0b0b0;
}
