body {
    margin: 0;
    background: #263343;
    text-align: center;
    color: #ffffff;
    border: #314C53 solid 20px;
    padding: 20px;
    font-family: 'Arial', sans-serif;
}

h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

p {
    font-size: 1.2em;
    margin: 10px 0;
}

footer {
    margin-top: 20px;
    font-size: 0.9em;
    color: #b0b0b0;
}